<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup | MedTracker</title>
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="background" id="background">
        
        <div class="content">
            
            <!-- Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message">
                        <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="signup-page">
                <a href="/" class="logo-container">
                    <img src="{{ url_for('static', filename='img/icon.png') }}" alt="MedTracker Logo" style="width: 100px; height: 100px;">
                    <h2>MedTracker</h2>
                </a>
                <br>
                <form class="login-info" action="/signup" method="post">
                    <input type="text" id="name" name="name" placeholder="Full Name" required>
                    <br>
                    
                    <select id="role" name="role" required>
                        <option value="" disabled selected>Select Role</option>
                        <option value="doctor">Doctor</option>
                        <option value="inventory_manager">Inventory Manager</option>
                        <option value="nurse">Nurse</option>
                    </select>
                    <br>

                    <input type="email" id="email" name="email" placeholder="Type your email here" required>
                    <br>

                    <input type="password" id="password" name="password" placeholder="Enter password" required>
                    <br>

                    <input type="text" id="hospital" name="hospital" placeholder="Hospital Name" required>
                    <br>

                    <button type="submit">Sign Up</button>
                </form>
                <p>Already have an account? <a href="/login">Log In</a></p>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
